<div class="navbar navbar-fixed-top ">
    <div class="navbar-container">
        <div class="col-xs-10">
            <div class="navbar-brand">
                <div id="clinicName" data-rel="tooltip" data-placement="bottom" title="" class="af-name-head clinicNameField">
                    Practice Dashboard
                </div>
            </div>    
        </div>
        <div class="col-xs-2">
            <div class="navbar-header pull-right af-name-head">
                <a title="Logout" data-rel="tooltip" data-placement="bottom" href="#logout" class="navbar-brand">
                    <div class="af-name-head">
                        <i class="ace-icon glyphicon glyphicon-off"></i>
                    </div>
                </a>                        
            </div>
        </div>
    </div>
</div>  <!-- .navbar -->
<div class="main-container">
    <div class="container-fluid" style="background-color: #ffffff;">
        <div class="col-md-4 col-sm-6" style="background-color: #ffffff;"><div class="graphContainer" id="claimsContainer"></div></div>
        <div class="col-md-4 col-sm-6" style="background-color: #ffffff;"><div class="graphContainer" id="billedContainer"></div></div>
        <div class="col-md-4 col-sm-6" style="background-color: #ffffff;"><div class="graphContainer" id="collectionContainer"></div></div>
        <div class="col-sm-6 col-md-4" style="background-color: #ffffff;"><div class="graphContainer" id="billedTrend"></div></div>
        <div class="col-sm-6 col-md-4" style="background-color: #ffffff;"><div class="graphContainer" id="collectionTrend"></div></div>
        <div class="col-sm-6 col-md-4" style="background-color: #ffffff;"><div class="graphContainer" id="collectionForcastTrend"></div></div>
        <div class="col-sm-6 col-md-4" style="background-color: #ffffff;"><div class="graphContainer" id="notFiledTrend"></div></div>
        <div class="col-sm-6 col-md-4" style="background-color: #ffffff;"><div class="graphContainer" id="ARgrossTrend"></div></div>
        <div class="col-sm-6 col-md-4" style="background-color: #ffffff;"><div class="graphContainer" id="ARnetTrend"></div></div>
    </div> <!-- .container -->
    <div id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </div>
</div>


 
