<div class="space-32"></div>
<div class="space-32"></div>
<div class="space-32"></div>
<div class="space-32"></div>
<div class="login-container">
    <div class="position-relative">
	<div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
		<div class="widget-main">
                    <div id="error" style="color: #f21c30"></div>
                    <h4 class="header blue lighter bigger">
			<i class="icon-key green"></i>
			Authentication
                    </h4>

                    <div class="space-6"></div>

                    <form id="frmLogin" class="logfrm">
			<fieldset>
                            <div class="form-group">
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" id="txtUName" name="UserName" class="form-control" placeholder="Username" />
                                    </span>
                                </label>
                            </div>
                            <div class="form-group">
				<label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
					<input type="password" id="txtPwd" name="Password" class="form-control" placeholder="Password" />
                                    </span>
				</label>
                            </div>
                            <div class="space"></div>
                            <div class="clearfix">
                                <label class="inline">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"> Remember Me</span>
                                </label>
                                <button type="submit" id="btnLogin" class="width-35 pull-right btn btn-sm btn-primary">
                                    <i class="icon-key"></i>
                                    Login
                                </button>
                            </div>
                            <div class="space-4"></div>
			</fieldset>
                    </form>
		</div><!-- /widget-main -->
            </div><!-- /widget-body -->
	</div><!-- /login-box -->
    </div><!-- /position-relative -->
</div>